@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome To Movie Project</h1>
    <p class="lead">Discover the Best Movies!</p>
    <hr class="my-4">
    <p>Embark on a cinematic journey like never before! Uncover hidden gems, traverse through cinematic wonders, and let the magic of storytelling unfold as you explore our captivating collection of movies.</p>
    <a class="btn btn-primary btn-lg" href="/Movies" role="button">Explore Movies</a>
</div>

<style>
    .jumbotron {
        background-color: #343a40;
        color: #ffffff;
        padding: 50px;
        border-radius: 15px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>